
Models_saves/CNN_2000/CNN_2000.h5
Models_saves/CNN_2000/model_architecture.json
Models_saves/CNN_2000/model_weights.h5
/Models_saves/CNN_2000
/Models_saves/CNN_17400
/Models_saves/Meta_Models
/Models_saves/Base_Models
